* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    width: 100vw;
    height: 100vh;
}

main {
    min-width: 100%;
    padding: 10px;
    display: grid;
    place-items: center;
    place-content: center;
    height: 100%;
}